.loginpage{
	width:100%;
}
.login_top_bg{
	width:100%x;
	height:80px;
	background-color: white;
}
.login_top{
	width:960px;
	height:80px;
	margin:0 auto;
}
.login_top img{
	float:left;
	margin-top: 20px;
}
.login_main{
	height: 460px;
	width:100%;
	background-color: black;
}
.login_main_center{
	width:960px;
	height:460px;
	margin:0 auto;
	position: relative;
	background-image: url(https://res.wx.qq.com/mpres/zh_CN/htmledition/pages/login/loginpage/images/bg_banner3c96b5.png);
}
.login_input{
	width:240px;
	height:150px;
	position:absolute;
	right:10px;
	top:20px;
	background-color: white;
	padding: 30px;
}
.login_input p{
	font-size:24px;
	margin:0 0 20px 0;
}
.login_input input{
	width:200px;
	height:40px;
}
.login_input button{
	display: block;
	background-color:#1aad19;
	border:0;
	color:white;
	border-radius: 5px;
	width:100px;
	height:35px;
	cursor:pointer;
	margin-top:20px;
}